*{
    padding:0;
    margin:0;
    color:#fffb00;
    text-align: center;
}


.main-container{
    border:4px solid #ff00ddc4;
    border-radius: 10px;
    margin: 2rem;
    background-color: rgba(239, 0, 247, 0.308);
}

nav, section, footer, article, aside{
    border: 2px solid #1100ff;
    margin: 1rem;
    border-radius: 50px;
    padding: 1rem;
}

article, aside{
    width:40%;
    display: inline-block;
    height: 150px;
    background-color: #0004ff3d;

}

nav, section, footer{
    background-color: #cc00ff80;
    border:4px solid #9900ff;
}